* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
}

.container {
    position: relative;
    max-width: 500px;
    min-width: 400px;
}

h1, h2 {
    color: rgb(170, 37, 110);
    padding: 5px 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.14rem;
}

form input,
form button,
#resultado {
    display: block;
    border: none; 
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 2px;
    text-align: center;
}

form input {
    background-color: #f0f0f0;;
    outline-color: #8d215c;
}

form button {
    background-color: #aa256e;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #8d215c;
}

#resultado {
    position: absolute;
    color: #f0f0f0;
    display: none;
    transition: all 0.1s ease;
}